.topnav {
    overflow: hidden;
    position: fixed;
    top: 3%;
    right: 11%;
    z-index: 1000;
}

/* Style the links inside the navigation bar */
.topnav a,
.topnav div {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    border: 3px solid rgb(236, 156, 170);
    padding: 11px 16px;
}

/* Right-aligned section inside the top navigation */
.topnav-right {
    float: right;
}

a {
    color: black;
}

a:visited {
    color: black;
}

.text {
    font-family: Constantia, Baskerville;
}

li:hover {
    background: #eee;
    cursor: pointer;
}

div .title {
    display: inline-block;
    width: 60;
    font-style: italic;
}

div.search {
    padding: 10px 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 20px;
}

form {
    position: relative;
    width: 300px;
    margin: 0 auto;
}

input,
button {
    border: none;
    outline: none;
}

input {
    width: 100%;
    height: 42px;
    padding-left: 13px;
}

button {
    height: 42px;
    width: 42px;
    cursor: pointer;
    position: absolute;
    background-color: transparent;
    font-family: Constantia, Baskerville;
}

.bar8 form {
    height: 42px;
}

.bar8 input {
    width: 0;
    padding: 0 42px 0 15px;
    border-bottom: 2px solid transparent;
    background: transparent;
    transition: .3s linear;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
}

.bar8 input:focus {
    width: 250px;
    z-index: 1;
    border-bottom: 2px solid #F9F0DA;
}

.bar8 button {
    top: 0;
    right: 0;
}

div .title {
    display: inline-block;
    width: 60;
    font-style: italic;
}