.topnav {
    overflow: hidden;
    position: fixed;
    top: 3%;
    right: 11%;
    z-index: 1000;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    border: 3px solid rgb(236, 156, 170);
    padding: 11px 16px;
}

/* Right-aligned section inside the top navigation */
.topnav-right {
    float: right;
}

a:visited {
    color: black;
}

.text {
    font-family: Constantia;
}

li:hover {
    background: #eee;
    cursor: pointer;
}