.key-dot {
    display: inline-block;
    height: 10px;
    margin-right: .5em;
    width: 10px;
}

#legend {
    font-family: Constantia, Baskerville, 'Times New Roman', Times, serif;
    margin: auto;
    text-align: center;
    overflow: hidden;
    width: auto;
}

.legend2 {
    margin-right: 1em;
    height: auto;
    display: inline-block;
    cursor: pointer;
}

.prop-name {
    font-style: italic;
    color: #585858;
}

.artist {
    background: #F596AA;
}

.genre {
    background: #572A3F;
}

.album {
    background: #EB7A77;
}

.production {
    background: #CC543A;
}

.default {
    background: #563F2E;
}

.tick text,
.label {
    font-size: 14px;
}

#rankLabel,
#rankLen,
#rankSub,
#rankPol {
    font-family: Constantia, Baskerville, 'Times New Roman', Times, serif;
}